@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700,900');

*{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.EnglishMainPageSection{
    height: 100vh;

}

.HeaderIcon{
    font-size: 0.8rem;
    width: 15%;
}

.EnglishMainPageHeader{
    display:flex;
    justify-content: space-between;
    font-family: 'Cinzel', serif;
}

.HeaderNav>nav>ul{
    display: flex;
}

.HeaderNav>nav>ul>li{
    justify-content: center;
    font-weight: 700;
    font-size: 0.79rem;
    margin-right: 2%;
}

