.CitationFlex{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.CitationTable th{
  font-size: 12px;
}

.CitationTable td{
  padding-right: 15px;
}
.CitationTable button{
  font-size: 12px;
}
